<!-- BEGIN matlist_row -->
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<!-- BEGIN img -->
				<a href="{XLEL_FILE_LINK}"><img class="media-object img-thumbnail" src="{XLEL_FILE_ICON}"></a>
				<!-- END img -->
			</div>
			<div class="col-md-10">
				<a href="{XLEL_FILE_LINK}">{XLEL_FILE}</a>
			</div>
		</div>
	</div>
</div><!-- END matlist_row --><!-- BEGIN no_items -->
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<a href="{XLEL_FILE_LINK}">{XLEL_FILE}</a>
			</div>
		</div>
	</div>
</div><!-- END no_items -->




