<!-- BEGIN media_block -->
<form action="{FORM_TARGET}" method="post">
	<div class="">
		<ul class="sortable">
			<!-- BEGIN movable_block -->
			<li>
				<a href="{SRC2}" rel="lightbox[{LIGHTBOX}]">
					<div class="FSXsort ui-state-default {ADMCSS} img-thumbnail"
					     style="background-image: url({SRC}); height: {SZ}px; width: {WZ}px;">
						<!-- BEGIN admin_mode -->
						<input type="hidden" name="img[]" value="{VALUE}">
						<!-- END admin_mode -->
					</div>
				</a>
				<!-- BEGIN delete_picture -->
				<input type="checkbox" name="media_ids[]" value="{IMG_ID}">
				<!-- END delete_picture -->
			</li>
			<!-- END movable_block -->
		</ul>
		<!-- BEGIN button -->

		<input type="submit" class="btn btn-default" name="cmd[confirmDeleteImage]" value="{BUTTON_NEW}">
		<!-- END button -->
	</div>
</form>
<!-- END media_block -->